*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.flex-container{
	display:flex;
	flex-direction:column;
	padding:40px;
	background-color:#f3f3f3;
	width:350px;
	gap:10px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0 0 10px gray;
}
h1{
	font-size:48px;
}
p{
	font-size:24px;
}
img{
	width:250px;
	height:150px;
}
button{
	background-color:#ff5f5f;
	font-size:24px;
	align-self:center;
	padding:15px;
	border-radius:35px;
	border:none;
}